.contact {
  background-color: black;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: auto;
  position: relative;
  display: flex;
}

.input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 14px;
}

.contact-content {
  margin: auto;
  width: 800px;
  text-align: left;
}

.contact-content h1 {
  text-align: center;
}

.contact input {
  width: 100%;
  box-sizing: border-box;
}

.contact input,
.contact textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #171717;
  border: 10px solid #171717;
  border-radius: 10px;
  font-size: 20px;
  color: #bdbdbd;
}

.contact input:focus,
.contact textarea:focus {
  outline: none;
  color: white;
}

.message-input {
  margin-top: 15px;
  height: 100px;
  min-height: 120px;
  min-width: 200px;
  width: 100%;
  resize: both;
  box-sizing: border-box;
}

.contact button {
  background-color: transparent;
  color: white;
  padding: 10px 20px;
  border: 4px solid white;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 900;
  cursor: pointer;
  float: right;
  margin-top: 15px;
}

.contact button:hover {
  background-color: white;
  border-color: white;
  color: black;
}

.contact button.button-disabled {
  background-color: #555;
  border-color: #555;
  color: #ccc;
  cursor: not-allowed;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
  text-align: left;
}