@media (max-width: 1207px) {
  /* About */
  .about img {
    width: 300px;
  }

  .about h1 {
    font-size: 22px;
  }

  .about p,
  .additional-text {
    font-size: 15px;
  }

  .team-info {
    bottom: -40px;
  }

  #milos:hover .team-info {
    transform: translateY(-8px);
  }

  #luka:hover .team-info {
    transform: translateY(-25px);
  }

  #stefan:hover .team-info {
    transform: translateY(-25px);
  }
}

@media (max-width: 946px) {
  /* Navigation Bar */
  .logo {
    margin-left: 10px;
  }

  .nav-links {
    visibility: hidden;
  }

  .hamburger {
    visibility: visible;
  }

  /* Index Content */
  .index-content .buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  .index-text {
    font-size: 20px;
  }

  /* Games */
  .game-container {
    flex-direction: column;
  }

  /* About */
  .team {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #milos .gradient-overlay {
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0) 20%,
      rgba(0, 213, 255, 0.671) 100%
    );
  }

  #luka .gradient-overlay {
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0) 20%,
      rgba(255, 217, 0, 0.671) 100%
    );
  }

  #stefan .gradient-overlay {
    background: linear-gradient(
      180deg,
      rgba(2, 0, 36, 0) 20%,
      rgba(0, 255, 102, 0.671) 100%
    );
  }

  .team-member .team-info {
    bottom: 10px;
  }

  .team-member .team-info h1,
  .team-member .team-info p {
    opacity: 1;
    visibility: visible;
  }

  #milos .team-info {
    transform: translateY(-8px);
  }

  #luka .team-info {
    transform: translateY(-25px);
  }

  #stefan .team-info {
    transform: translateY(-25px);
  }

  .team-member .team-info {
    opacity: 1;
    bottom: 10px;
    visibility: visible;
  }

  /* Contact Form */
  .contact-content {
    margin: auto;
    width: 85%;
    text-align: left;
  }
  .message-input{
    width: 100%;
    min-width: none;
    max-width: 100%;
  }
  .input-container {
    flex-direction: column;
  }
  .message-input {
    min-height: 150px;
  }
  .team-member {
    margin: 15px;
  }
  .message-input {
    resize: none;
  }
}

@media (max-width: 430px) {
  .team-member,
  .team-member img {
    width: 70vw;
  }

  .team-info h1 {
    font-size: 95%;
  }
  .team-info p {
    font-size: 85%;
  }

  #milos .team-info {
    transform: translateY(0px);
  }

  #luka .team-info {
    transform: translateY(-15px);
  }

  #stefan .team-info {
    transform: translateY(-15px);
  }

  .footer-links {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 20px;
    width: 70vw;
  }
}
