.about p {
  font-size: 20px;
}

.us {
  background: #171717;
}

.about > * {
  position: relative;
  z-index: 2;
}

.about {
  border-radius: 5px;
  padding-bottom: 50px;
}

.team {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  filter: drop-shadow(0px 5px 30px rgb(0, 0, 0));
}

.team-member {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  aspect-ratio: 1/1;
  max-width: 350px;
  border-radius: 5px;
  background-color: #0c95db;
}

.team-member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  pointer-events: none;
  transition: opacity 0.2s ease;
}

.gradient-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
}

.team-info {
  pointer-events: none;
  position: absolute;
  top: 72%;
  color: white;
  padding: 10px;
  height: fit-content;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.5));
  transition: top 0.2s ease;
  z-index: 2;
}

@media (max-width: 946px) {
  .team-info {
    top: auto;
    bottom: 0;
  }
}

.team-info h1 {
  margin: 0;
  font-size: 30px;
  filter: drop-shadow(0px 5px 30px rgb(0, 0, 0));
}

.team-info p {
  margin: 5px 0 0;
  font-size: 20px;
  filter: drop-shadow(0px 5px 30px rgb(0, 0, 0));
}

.team-info .additional-text {
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
  font-weight: 500;
}

@media (hover: hover) and (pointer: fine) {
  .team-member:hover .team-info {
    top: 0;
    filter: none;
  }

  .team-member:hover .team-info h1,
  .team-member:hover .team-info p {
    opacity: 1;
    visibility: visible;
  }

  .team-member:hover img {
    opacity: 0;
  }
}
